@use "colors";
@use "typography";

.rosewater {
  color: colors.$rosewater;
}
.flamingo {
  color: colors.$flamingo;
}
.pink {
  color: colors.$pink;
}
.mauve {
  color: colors.$mauve;
}
.red {
  color: colors.$red;
}
.maroon {
  color: colors.$maroon;
}
.peach {
  color: colors.$peach;
}
.yellow {
  color: colors.$yellow;
}
.green {
  color: colors.$green;
}
.teal {
  color: colors.$teal;
}
.sky {
  color: colors.$sky;
}
.sapphire {
  color: colors.$sapphire;
}
.blue {
  color: colors.$blue;
}
.lavender {
  color: colors.$lavender;
}
.subtext1 {
  color: colors.$subtext1;
  font-size: typography.$font-size-s;
}
.subtext0 {
  color: colors.$subtext0;
  font-size: typography.$font-size-s;
}

