// Macchiato
$rosewater: rgb(244, 219, 214) !default;
$flamingo: rgb(240, 198, 198) !default;
$pink: rgb(245, 189, 230) !default;
$mauve: rgb(198, 160, 246) !default;
$red: rgb(237, 135, 150) !default;
$maroon: rgb(238, 153, 160) !default;
$peach: rgb(245, 169, 127) !default;
$yellow: rgb(238, 212, 159) !default;
$green: rgb(166, 218, 149) !default;
$teal: rgb(139, 213, 202) !default;
$sky: rgb(145, 215, 227) !default;
$sapphire: rgb(125, 196, 228) !default;
$blue: rgb(138, 173, 244) !default;
$lavender: rgb(183, 189, 248) !default;
$text: rgb(205, 214, 244) !default;
$subtext1: rgb(184, 192, 224) !default;
$subtext0: rgb(165, 173, 203) !default;
$overlay2: rgb(147, 154, 183) !default;
$overlay1: rgb(128, 135, 162) !default;
$overlay0: rgb(110, 115, 141) !default;
$surface2: rgb(91, 96, 120) !default;
$surface1: rgb(73, 77, 100) !default;
$surface0: rgb(54, 58, 79) !default;
$base: rgb(36, 39, 58) !default;
$mantle: rgb(30, 32, 48) !default;
$crust: rgb(24, 25, 38) !default;

// Latte
//$rosewater: rgb(220, 138, 120) !default;
//$flamingo: rgb(221, 120, 120) !default;
//$pink: rgb(234, 118, 203) !default;
//$mauve: rgb(136, 57, 239) !default;
//$red: rgb(210, 15, 57) !default;
//$maroon: rgb(230, 69, 83) !default;
//$peach: rgb(254, 100, 11) !default;
//$yellow: rgb(223, 142, 29) !default;
//$green: rgb(64, 160, 43) !default;
//$teal: rgb(23, 146, 153) !default;
//$sky: rgb(4, 165, 229) !default;
//$sapphire: rgb(32, 159, 181) !default;
//$blue: rgb(30, 102, 245) !default;
//$lavender: rgb(114, 135, 253) !default;
//$text: rgb(35, 38, 52) !default;
//$subtext1: rgb(92, 95, 119) !default;
//$subtext0: rgb(108, 111, 133) !default;
//$overlay2: rgb(124, 127, 147) !default;
//$overlay1: rgb(140, 143, 161) !default;
//$overlay0: rgb(156, 160, 176) !default;
//$surface2: rgb(172, 176, 190) !default;
//$surface1: rgb(188, 192, 204) !default;
//$surface0: rgb(204, 208, 218) !default;
//$base: rgb(239, 241, 245) !default;
//$mantle: rgb(230, 233, 239) !default;
//$crust: rgb(220, 224, 232) !default;
