@use "colors";
@use "typography";

* {
  font-family: typography.$font-family;
  font-size: typography.$font-size-m;
  font-style: normal;
  font-weight: typography.$font-weight;
  color: colors.$text;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
