@use "sass:color";
@use "colors";

.StatusBar {
  > box > .group,
  > box > box > .group {
    background: color.scale(colors.$base, $alpha: -10%);
    border: 2px solid colors.$surface0;
    border-radius: 1em;

    > button,
    > box > button,
    > menubutton > button,
    > box > menubutton > button {
      background: none;
    }
  }
}
